[submodule "python2-glymur"]
	path = python2-glymur
	url = ssh+git://aur@aur.archlinux.org/python2-glymur.git
[submodule "python2-sunpy"]
	path = python2-sunpy
	url = ssh+git://aur@aur.archlinux.org/python2-sunpy.git
[submodule "python-sunpy"]
	path = python-sunpy
	url = ssh://aur@aur.archlinux.org/python-sunpy.git
[submodule "python-glymur"]
	path = python-glymur
	url = ssh://aur@aur.archlinux.org/python-glymur.git
[submodule "python-suds-jurko"]
	path = python-suds-jurko
	url = https://aur.archlinux.org/python-suds-jurko.git
